@{
    var userId = ViewBag.UserId;
    var organizations = ViewBag.Organizations as List<OrganizationManagement.Models.Organization>;
}

<h2>Welcome User!</h2>

<a class="btn btn-primary" href="@Url.Action("RegisterName", "Account", new { userId = userId })">
    ? Add Organization
</a>

<a class="btn btn-danger" href="@Url.Action("Logout", "Account")" style="margin-left: 10px;">
    ?? Logout
</a>

<br />
<br />

<h3>Your Organizations</h3>
@if (organizations != null && organizations.Any())
{
    <ul class="list-group">
        @foreach (var org in organizations)
        {
            <li class="list-group-item">@org.Name</li>
        }
    </ul>
}
else
{
    <p>No organizations found.</p>
}
