@{
    ViewData["Title"] = "Project Management ";
}

<div class="text-center">
    <h1 class="display-4">Project Management
    </h1>
  <a href="#">CreateOrganzization</a>
  <br />
    <a asp-action="Login"> Login </a>
</div>
