@model OrganizationManagement.Models.Organization

@{
    ViewBag.Title = "Dashboard";
}

<h4>Welcome to the Dashboard</h4>
<h7><a href="#">Organizations</a></h7>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}


<form asp-action="ShowRegisterForm" method="post">
    @Html.AntiForgeryToken()
    <div class="text-end">
    <button type="submit" class="btn btn-primary">Register Organization</button>
    </div>
</form>


@if (ViewBag.ShowForm == true)                 
{
    <form asp-action="RegisterName" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
}
